.project
.pydevproject
.settings
local/*.conf
.idea
*.pyo
*.pyc
metadata/*
node_modules/*
heremaps.log
bin/lib/reversegeocode.cache
bin/lib/reversegeocodeshape-*.cache
bin/test-result.html
bin/coverage
tmp
test/*.xml
