{% load splunkmvc %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shape Map Javascript</title>
    {% include "heremap-res.html" %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
</head>

<body>
    <div class="header">
        <div id="myheader"></div>
    </div>

    <div class="dashboard-body container-fluid main-section-body" data-role="main">
        <div style="margin:2%">
            <div style="margin-bottom:10px">
                <div id="search-bar"></div>
                <div id="search-control"></div>
            </div>
            <div>
                <div style="float:left;width:49%" id="search-table"></div>
                <div style="float:right;width:2%"></div>
                <div style="float:right;width:49%" id="search-map"></div>
                <div style="clear: both; margin-top:10px;"></div>
            </div>
        </div>
    </div>

    <div id="myfooter"></div>


    {% component_loader %}

    <script>
        var deps = [
            "splunkjs/ready!",
            "splunkjs/mvc/headerview",
            "splunkjs/mvc/footerview",
            "splunkjs/mvc/searchbarview",
            "splunkjs/mvc/searchcontrolsview",
            "splunkjs/mvc/tableview",
            "splunkjs/mvc/searchmanager",
            "heremaps/hereshapemap"
        ];
        require(deps, function(mvc) {
            // Load individual components
            var HeaderView = require("splunkjs/mvc/headerview");
            var FooterView = require("splunkjs/mvc/footerview");
            var SearchBarView = require("splunkjs/mvc/searchbarview");
            var SearchControlsView = require("splunkjs/mvc/searchcontrolsview");
            var TableView = require("splunkjs/mvc/tableview");
            var HereShapeMap = require("heremaps/hereshapemap");
            var SearchManager = require("splunkjs/mvc/searchmanager");

            // Create a header
            new HeaderView({
                id: "myheader",
                el: $("#myheader"),
            }).render()

            // Create a footer
            new FooterView({
                id: "myfooter",
                el: $("#myfooter"),
            }).render()

            // Create a search manager
            var mysearch = new SearchManager({
                id: "search1",
                preview: true,
                cache: true,
                status_buckets: 300,
                search: mvc.tokenSafe("$searchquery$"),
                required_field_list: "*",
            });

            // Create a search bar
            var mysearchbar = new SearchBarView ({
                id: "searchbar1",
                managerid: "search1",
                el: $("#search-bar"),
                value: mvc.tokenSafe("$searchquery$"),
                default: "|inputlookup germany_data.csv | eval key=State | eval value=Density"

            }).render();

            // Create a search control
            var mysearchcontrol = new SearchControlsView ({
                id: "searchcontrol1",
                managerid: "search1",
                el: $("#search-control")
            }).render();

            // Create a table
            var mytable = new TableView ({
                id: "table1",
                managerid: "search1",
                el: $("#search-table")
            }).render();

            // Create the cluster map
            var myshapemap = new HereShapeMap({
                id: "shapemap1",
                managerid: "search1",
                el: $("#search-map"),
                height: "400px",
                zoom: "5",
                center: "51,5",
                kmlFile: "countries/de.kml"
            }).render()
        });
    </script>
</body>
</html>