
<script src="http://js.api.here.com/v3/3.0//mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="http://js.api.here.com/v3/3.0//mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="http://js.api.here.com/v3/3.0//mapsjs-mapevents.js" type="text/javascript" charset="UTF-8"></script>
<script src="http://js.api.here.com/v3/3.0//mapsjs-ui.js" type="text/javascript"  charset="UTF-8"></script>
<script src="http://js.api.here.com/v3/3.0/mapsjs-clustering.js" type="text/javascript" charset="utf-8"></script>
<script src="http://js.api.here.com/v3/3.0/mapsjs-data.js" type="text/javascript" charset="utf-8"></script>
<link href="http://js.api.here.com/v3/3.0//mapsjs-ui.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}{{app_name}}/heremap.css" rel="stylesheet" type="text/css" />