.heremapwrapper{
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    position: relative;
}

.heremapwrapper .msg,.heremapwrapper .mapcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}
.heremapwrapper .msg{
    z-index:10;
    background-color:rgba(255,255,255,0.5);
    padding-left: 10px;
}

.heremap .splunk-message-container {
    padding: 1px;
}

/* Some HERE maps UI customizations */
.H_ui {
	font-family: "Roboto","Droid","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.H_ui .H_ib,.H_ui  .H_btn {
    background-color: #858585;
    color: #FFF;
    fill: #FFF;
    font-size: 12px;
    line-height: 16px;
}
.H_ui .H_ib_body {
    background-color: #858585;
}
.H_ui .H_ib_close .H_icon{
    fill: #FFF;
}
.H_ui .H_ib_tail {
    fill: #858585;
}